
.counter {
  font-size: 40px;
  letter-spacing: 0.3em;
  margin: 50px 0 40px 20px;
  font-weight: bolder;
}

.button {
  font-size: 20px;
  padding: 15px;
  font-weight: bold;
  border-color: #222222;
  background-color: #d3d3d3;
  margin-bottom: 10px;
}

.button:hover {
  opacity: 0.5;
}
